@font-face {
    font-family: "Pop-R";
    src: url("/add/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Pop-L";
    src: url("/add/Poppins-Light.ttf");
}

* {
    font-family: "Pop-L";
    color: #EEEEEE
}

::selection {
    background-color: #005459;
    color: #95f1f6;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    background-color: #222831;
    background: linear-gradient(to bottom right, #222831, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.hl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
    animation: none;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: black;
    animation: none;
}

.content {
    margin-left: 200px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-inner {
    background-color: #393E46;
    width: 75%;
    height: 50%;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 0 0 20px 10px #393E46aa;
    transition: all 0.45s ease-in-out;
}
.content-inner:hover {
    background-color: #494f59;
    border-radius: 15px;
    box-shadow: 0 0 30px 15px #494f59aa;
}

h1 {
    font-family: "Pop-R";
    font-weight: 900;
}

h2 {
    font-family: "Pop-R";
    color: #00ADB5;
}

a {
    text-decoration: none;
    color:#00ADB5;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #00e6f2;
    text-decoration: underline;
    animation: pulsate 1.8s ease-in-out infinite;
}

@keyframes pulsate {
    0% {
        text-shadow: 0 0 8px #00ADB5;
    }
    50% {
        text-shadow: 0 0 13px #00e6f2;
    }
    100% {
        text-shadow: 0 0 8px #00ADB5;
    }
}