@font-face {
    font-family: "Pop-R";
    src: url("/add/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Pop-L";
    src: url("/add/Poppins-Light.ttf");
}

* {
    font-family: "Pop-L";
    color: #EEEEEE
}

::selection {
    background-color: #005459;
    color: #95f1f6;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #393939;
}

::-webkit-scrollbar-thumb {
    background: #222831;
    border-radius: 20px;
}

body {
    scrollbar-gutter: 100px;
    margin: 0;
    background-color: #f0f0f0;
    background-color: #222831;
    background: linear-gradient(to bottom right, #222831, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}
.hl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.navbar a {
    color: #00ADB5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
    animation: none;
}

.navbar a:hover {
    background-color: #00ADB5;
    border-radius: 10px;
    color: black;
    animation: none;
    text-decoration: none;
}

.content {
    overflow: auto;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-inner {
    background-color: #393E46;
    width: 75%;
    height: 50%;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 0 0 20px 10px #393E46aa;
    transition: all 0.45s ease-in-out;
    margin-bottom: 50px;
}
.content-inner:hover {
    background-color: #494f59;
    border-radius: 15px;
    box-shadow: 0 0 30px 15px #494f59aa;
}

h1 {
    font-family: "Pop-R";
    font-weight: 900;
}

h2 {
    font-family: "Pop-R";
    color: #00ADB5;
}

a {
    text-decoration: none;
    color:#00ADB5;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #00e6f2;
    text-decoration: underline;
    animation: pulsate 1.8s ease-in-out infinite;
}

.acp-input {
    background-color: #5f6874;
    border: none;
    /* width: 80px; */
    margin: 10px;
    padding: 6px;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #393E46;
    text-align: center;
    color: white;
}

.acp-input::placeholder {
    user-select: none;
    color: #2e3238;
}

.acp-input:focus {outline: none;}

.task-inner-title {
    margin-bottom: 3px;
}

input[type="submit"] {
    background-color: #5f6874;
    width: 80px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 6px;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #2d3137;
    transition: all 0.28s ease-in-out;
}
input[type="submit"]:hover {
    background-color: #8597b6;
    border-radius: 8px;
    box-shadow: 0 0 10px 8px #40454e;
}

@keyframes pulsate {
    0% {
        text-shadow: 0 0 8px #00ADB5;
    }
    50% {
        text-shadow: 0 0 13px #00e6f2;
    }
    100% {
        text-shadow: 0 0 8px #00ADB5;
    }
}